{
  "plugins": ["node", "prettier"],
  "extends": ["eslint:recommended", "plugin:node/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "node/exports-style": ["error", "module.exports"]
  }
}
